:root {
  --linear-blue: linear-gradient(#002366, #0046CC);
  --color-blue: #002366;
  --color-orange: #FFA347;
  --color-gold: #D4AF37;
  --color-background: #F5F8FA;
}

/* ====================== */
/* RESET GLOBAL & STRUCTURE */
/* ====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background) !important;
  color: #000;
  min-height: 100vh;
  overflow-x: hidden;

}


/* Définir une variable pour la hauteur de la barre de navigation */
:root {
  --navbar-height-desktop: 60px;
}




/* ====================== */
/* MAIN */
/* ====================== */
main h1 {
  padding: 60px;
  font-size: 3em;
}

main {text-align: center;}

.connection hr, .content hr {
  display: block;
  border: none;
  height: 1px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-blue);
}


main p {
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
}

#menu_deroulant {
  background-color: red;
}

main #accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
}

/* ====================== */
/* BOUTON GLOBAL */
/* ====================== */
.btns {
  display: inline-block;
  background-color: #ffffff;
  color: #002366;
  border: 2px solid #D4AF37;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  padding: 5px 30px;
  border-radius: 60px;
  box-shadow: 0px 0px 6px -1px;
  text-decoration: none;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.btns:hover {
  background-color: #D4AF37;
}

button {
  display: inline-block;
  background-color: #ffffff;
  color: #002366;
  border: 2px solid #D4AF37;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  padding: 5px 30px;
  border-radius: 60px;
  box-shadow: 0px 0px 6px -1px;
  text-decoration: none;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #D4AF37;
}

.content {
  text-align: center;
}

.content hr {
  margin-top: 100px;
}

h3 {
  text-align: center;
}

/* ====================== */
/* SECTION ANNONCES */
/* ====================== */
/* .annonces {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
padding: 40px 0;
} */

.annonces {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  gap: 30px;
  justify-content: center;
  justify-items: center;
  padding: 40px 0;
}

/* --- CARTE D’ANNONCE --- */
.announce-card {
  background-color: #ffffff;
  border: 2px solid #D4AF37;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 4, 20, 0.1);
  width: 220px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.announce-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* --- IMAGE --- */
.announce-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* --- TEXTE --- */
.announce-card h3 {
  font-size: 24px;
  font-weight: 500;
  font-style: bold;
  font-family: 'Cormorant Garamond', serif;
  color: #002366;
  margin: 15px 0 8px 0;
}

.announce-card h4 {
  font-size: 13px;
  color: #8D4545;
  margin: 0 0 10px 0;
}

/* --- BOUTON VOIR --- */
.announce-card a.btn {
  display: inline-block;
  background-color: #ffffff;
  color: #002366;
  border: 2px solid #D4AF37;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  padding: 2px 30px;
  border-radius: 60px;
  box-shadow: 0px 0px 6px -1px;
  text-decoration: none;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.announce-card a.btn:hover {
  background-color: #D4AF37;
}

/* --- Aucune image disponible --- */
.announce-card .no-image {
  background-color: #f0f0d8;
  color: #777;
  font-size: 14px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announce-card {
  width: 90%;
  max-width: 250px;
}

@media (max-width: 380px) {
  .announce-card {
    width: 90%;
  }

  header ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

/* ====================== */
/* SECTION CATÉGORIES */
/* ====================== */

.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  justify-items: center;
  padding: 40px 40px;
}

/* --- CARTE CATÉGORIE --- */
.category-card {
  background-color: #ffffff;
  border: 2px solid #D4AF37;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 100%;
  max-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* --- IMAGE --- */
.category-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* --- TEXTE --- */
.category-card h3 {
  font-size: 16px;
  font-weight: 500;
  color: #002366;
  margin: 15px 0 8px 0;
}

/* --- BOUTON VOIR --- */
.category-card a.btn {
  display: inline-block;
  background-color: #ffffff;
  color: #002366;
  border: 2px solid #D4AF37;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  padding: 2px 30px;
  border-radius: 60px;
  box-shadow: 0px 0px 6px -1px;
  text-decoration: none;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.category-card a.btn:hover {
  background-color: #D4AF37;
}

.category-card .no-image {
  background-color: #f0f0d8;
  color: #777;
  font-size: 14px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ########## Profil ########## */

#profil {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 25px;
  color: var(--color-blue);
}

#profil img {
  background: var(--linear-blue);
  border-radius: 50%;
  padding: 5px;
  object-fit: cover;
  box-shadow: 0 0 5px var(--color-blue);
  margin: 10px;
}

/* ########## Stars ########## */
#stars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-blue);
  width: 150px;
  height: auto;
}

#stars img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  vertical-align: middle;
}

#stars div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

#stars #c1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: var(--color-orange);
}

.isNotShow {
  display: none;
}

.isBackground {
  background-color: var(--color-background);
}

/* ########## Connection ########## */

.connection,
.inscription h1 {
  text-align: center;
  color: var(--color-blue);
}

main #connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
  color: var(--color-blue);
}

main #connexion div {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

main #connexion input:not(input[type="submit"]) {
  width: 400px;
  height: 30px;
  font-size: 1em;
  border: 1.5px solid var(--color-gold);
  border-radius: 10px;
  border: 1.5px solid var(--color-gold);
  border-radius: 60px;
  text-align: center;
}

main #connexion input:not(input[type="submit"])::placeholder {
  color: gray;
  font-style: italic;
  text-align: center;
}

main #connexion input[type="submit"] {
  font-size: 1em;
  width: 200px;
  border-radius: 60px;
  color: var(--color-blue);
  background-color: #ffffff;
  border: 2px solid var(--color-gold);
  font-family: 'Cormorant Garamond', serif;
}

main #connexion input[type="submit"]:hover {
  background-color: #D4AF37;
  cursor: pointer;
}

#connection a {
  font-style: none;
}

#connection a:visited {
  color: inherit;
  text-decoration: none;
}


/* ########## Inscription ########## */

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .category {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
  }

  .category-card {
    max-width: 220px;
  }
}

@media (max-width: 480px) {
  .category {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .category-card {
    width: 90%;
    max-width: none;
  }
}

/* ====================== */
/* BARRE DE RECHERCHE */

.search_bar {
  text-align: center;
  margin: 20px 0;
}

#searchInput {
  width: 300px;
  padding: 10px;
  border: 2px solid #D4AF37;
  border-radius: 30px;
  font-size: 16px;
}

#searchButton {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #002366;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

#searchButton:hover {
  background-color: #0046CC;
}

#suggestions {
  margin: 0 auto;
  background: white;
  border: 1px solid #ccc;
  width: 300px;
  display: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    padding: 20px;
    box-sizing: border-box;
    display: block; /* Retour à l'affichage normal de la slide */
    text-align: center; /* Pour centrer le bloc image */
}

/* Conteneur d'image devient la référence pour le positionnement */
.swiper-slide .image-container {
    height: 620px;
    width: 100%;
    margin: 0 auto 15px auto; /* Centrage horizontal et marge en dessous */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    /* IMPORTANT pour la superposition */
    position: relative; 
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Rend le lien de la slide se comporter comme un bloc et retire le soulignement */
.swiper-slide.slide-link {
    display: block; 
    text-decoration: none; 
    color: inherit; /* Utilise la couleur du texte par défaut de la slide */
    /* Ces propriétés sont cruciales pour que Swiper fonctionne correctement après avoir inséré le lien */
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.swiper-slide .no-image-placeholder {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    color: #888;
    text-align: center;
}

/* Styles pour le texte superposé */
.swiper-slide .text-content-overlay {
    position: absolute;
    bottom: 0; /* Placer le texte en bas de l'image */
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent pour la lisibilité */
    color: var(--color-gold);
    text-align: left;
    box-sizing: border-box;
    z-index: 2; /* S'assurer que le texte est au-dessus de l'image */
}

.swiper-slide .text-content-overlay h3 {
    margin: 0;
    font-size: 1.2em;
}

.swiper-slide .text-content-overlay p {
    margin: 5px 0 0 0;
    font-size: 0.9em;
}

/* Styles pour le timer */
.swiper-slide .text-content-overlay .timer {
    font-weight: bold;
}

/* Styles Pagination / Scrollbar (inchangés) */
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #000;
    opacity: .2;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    transition: opacity .3s;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-scrollbar {
    border-radius: 10px;
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    background: #000;
    border-radius: 10px;
    left: 0;
    top: 0;
}

body {
  overflow-x: hidden;
}

/* Page vendre */

.titleVendre {
    color: var(--color-blue);
    display: block;
    text-align: center;
}

.form_vente_produit {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containeur_top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem 2rem;
    align-items: start;
}

.img_selector {
    grid-row: 1;
}

.information_produit{
    grid-column: 2;
    display: block;
    gap: 0.8rem;
    margin-bottom: 0.5rem;
    border-left: 3px solid black;
    padding-left: 2%;
}

.certificat_authenticite_vente {
    width: 100%;
}

.description_produit_vente {
    width: 100%;
}

.buttom_image{
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Masquer l'input réel */
.img_selector_input {
    display: none;
}

/* Styliser le label comme un bouton */
.custom-file-upload {
  width: 450px;
  height: 30px;
  font-size: 1em;
  border: 1.5px solid var(--color-gold);
  border-radius: 10px;
  border: 1.5px solid var(--color-gold);
  border-radius: 60px;
  text-align: center;
}

/* Optionnel : changement de couleur au survol */
.custom-file-upload:hover {
    color: red;
}

input.information_produit{
    font-size: 1em;
  width: 200px;
  border-radius: 60px;
  color: var(--color-blue);
  background-color: #ffffff;
  border: 2px solid var(--color-gold);
  font-family: 'Cormorant Garamond', serif;
}

.img_preview {
    width: 150px;
    height: 150px;
    display: none;
    margin-top: 10px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main_image{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.wrapper-annonces {
  position: relative;
  margin-left: 80px; 
  padding-left: 10px;
}

.barre-noire {
  position: absolute;
  left: 0;         
  top: 70px;          
  bottom: 40px;      
  width: 4px;
  height: calc(100% - 100px);
  background: #000;
  border-radius: 2px;
  z-index: 5;
  pointer-events: none; 
}

.Annonces_en_cours h1, .Historique_annonces h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-top: 30px;
}

.Annonces-list-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    padding: 40px 0;
}

.card {
    background-color: #ffffff;
    border: 2px solid #D4AF37;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 4, 20, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    margin-bottom: 0;
}

.card-content {
    padding: 0 15px;
}

.card h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    color: #002366;
    margin: 15px 0 8px 0;
}

.card p {
    font-size: 13px;
    margin: 0 0 10px 0;
}



.card-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    padding: 0 15px;
    align-items: center;
}

.card a {
    display: block;
    background-color: #ffffff;
    color: #002366;
    border: 2px solid #D4AF37;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    padding: 2px 30px;
    border-radius: 80px;
    box-shadow: 0px 0px 6px -1px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}

.card button:hover {
    background-color: #D4AF37;
    color: white;
}

#valider:hover {
    background-color: #D4AF37;
}

.Annonces_en_cours p:not(.timer) {
    text-align: center;
    font-style: italic;
    color: #6c757d;
    padding: 10px 0;
}

@media (max-width: 90%) {
    .Annonces-list-cards {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px 0;
    }
    
    .card {
        max-width: 90%;
    }
}