:root {
    --Sapphire: #3C507D;
    --Royal-blue: #112250;
    --Quicksand: #E0C58F;
    --Swan-wing: #F5F0E9;
    --Sheelstone: #D9CBC2;
    --Gold: #D2A047;
    --Green: #3A7F4F;
    --Red: #C0392B;

    --H1-font: "Lora", serif;
    --H1-size: 40px;
    --H1-weight: 700;

    --H2-font: "Lora", serif;
    --H2-size: 32px;
    --H2-weight: 700;

    --H3-font: "Lora", serif;
    --H3-size: 24px;
    --H3-weight: 700;

    --p-font: "Poppins", serif;
    --p-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Swan-wing);
}

/* h1 {
    font-size: var(--H1-size);
    font-family: var(--H1-font);
    font-weight: var(--H1-weight);
    color: var(--Royal-blue);
}

h2 {
    font-size: var(--H2-size);
    font-family: var(--H2-font);
    font-weight: var(--H2-weight);
    color: var(--Royal-blue);
}

h3 {
    font-size: var(--H3-size);
    font-family: var(--H3-font);
    font-weight: var(--H3-weight);
    color: var(--Royal-blue);
}

p {
    font-size: var(--p-size);
    font-family: var(--p-font);
    font-weight: var(--p-weight);
    color: var(--Royal-blue);
} */

/* POP UP */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 34, 80, 0.5);
    z-index: 9999;
}

#closeBtn {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--Gold);
    padding: 20px;
    border: 2px solid var(--Gold);
    border-radius: 50px;
}

#closeBtn span {
    top: 50%;
    left: 50%;
    height: 3px;
    width: 60%;
    background-color: var(--Royal-blue);
    border-radius: 25px;
    position: absolute;
}

#closeBtn span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

#closeBtn span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.popup div {
    position: relative;
    top: 100px;
    background-color: var(--Swan-wing);
    color: var(--Royal-blue);
    margin: 10px auto;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    font-size: var(--H3-size);
    font-family: var(--H3-font);
}

.popup div h2 {
    padding-top: 10px;
    text-align: center;
    font-size: var(--H2-size);
    font-family: var(--H2-font);
    font-weight: normal;
    margin: 10px;
}

.popup-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.popup-form label {
    text-align: center;
    padding: 10px;
}

input {
    font-size: var(--H2-size);
    font-family: var(--H2-font);
    text-align: center;
    color: var(--Royal-blue);
    background-color: var(--Swan-wing);
    border: 1px solid var(--Royal-blue);
    border-radius: 10px;
    box-shadow: none;
    outline: none;
}

.error-msg {
    color: var(--Red);
}

/* .btn {
    color: var(--Sheelstone);
    background-color: var(--Royal-blue);
    border: 2px solid var(--Sheelstone);
    border-radius: 10px;
    font-size: var(--H2-size);
    font-family: var(--H2-font);
    font-weight: var(--H2-weight);
    padding: 10px 50px;
} */

.btn {
    color: var(--Sheelstone);
    background-color: var(--Royal-blue);
    border: 2px solid var(--Sheelstone);
    border-radius: 10px;
    font-size: var(--H2-size);
    font-family: var(--H2-font);
    font-weight: var(--H2-weight);
    padding: 10px 50px;
    transition:
        box-shadow 0.15s,
        transform 0.15s;
    touch-action: manipulation;
    will-change: box-shadow, transform;
    cursor: pointer;
}

.btn:focus {
    box-shadow:
        #d6d6e7 0 0 0 1.5px inset,
        rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #d6d6e7 0 -3px 0 inset;
}

.btn:hover {
    box-shadow:
        rgba(45, 35, 66, 0.3) 0 5px 8px,
        rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
        var(--Sheelstone) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: var(--Sheelstone) 0 3px 7px inset;
    transform: translateY(2px);
}

.btn-second {
    color: var(--Royal-blue);
    background-color: var(--Swan-wing);
    border: 1px solid var(--Royal-blue);
    border-radius: 10px;
    font-size: var(--H2-size);
    font-family: var(--H2-font);
    font-weight: var(--H2-weight);
    padding: 10px;
}

/* TOAST */

#toastBox {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    z-index: 9999;
}

.toast {
    width: 400px;
    height: 80px;
    background: var(--Swan-wing);
    border: 2px solid var(--Royal-blue);
    color: var(--Royal-blue);
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 5px var(--Royal-blue);
    z-index: 100;
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveToast 0.5s linear forwards;
    font-size: var(--p-size);
    font-family: var(--H3-font);
    font-weight: var(--H3-weight);
}

@keyframes moveToast {
    100% {
        transform: translateX(0);
    }
}

.toast i {
    margin: 0 20px;
    font-size: 35px;
    color: var(--Green);
}

.toast.error i {
    color: var(--Red);
}

.toast.invalid i {
    color: orange;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: var(--Green);
    animation: toastAnim 5s linear forwards;
}

.toast.error::after {
    background: var(--Red);
}

.toast.invalid::after {
    background: orange;
}

@keyframes toastAnim {
    100% {
        width: 0;
    }
}

/* Swiper */

#swiper-container {
    position: relative;
    height: auto;
    width: 600px;
    margin: 0;
    padding: 0;
    /* background-color: pink; */
    user-select: none;
    display: flex;
    gap: 10px;
    margin: 20px;
}

#swiper-container .uniqueImage {
    width: 600px;
    height: auto;
    margin: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid black;
}

.mySwiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: none;
}

.mySwiper2 {
    width: 100%;
    height: auto;
}

.mySwiper {
    display: flex;
    width: 25%;
    height: auto;
}

.mySwiper .swiper-wrapper {
    flex-direction: column;
    height: 100%;
}

.mySwiper .swiper-slide {
    width: 100%;
    height: auto;
    opacity: 0.4;
    padding: 2%;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

/* Main page */

main {
    margin: 100px 15%;
}

/* Fav */

#fav-section {
    display: flex;
    justify-content: flex-end;
}

#fav-container {
    font-size: var(--H3-size);
    display: flex;
    justify-content: center;
    width: 100px;
    color: var(--Royal-blue);
    border: 1px solid var(--Royal-blue);
    border-radius: 10px;
    z-index: 5000;
    cursor: pointer;
}

#product-section {
    display: flex;
}

.myDiv1 {
    /* background-color: red; */
    width: 600px;
    margin: 30px;
}

.myDiv2 {
    /* background-color: pink; */
    width: 100%;
    padding: 20px;
}

.timer-container {
    background-color: var(--Sapphire);
    border: 0px solid var(--Sapphire);
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: var(--Quicksand);
    font-size: var(--H2-size);
}

.myBox1 {
    border: 2px solid var(--Sapphire);
    border-radius: 0 0 10px 10px;
    color: var(--Royal-blue);
    padding-left: 10px;
    margin-bottom: 50px;
}

.myBox1 h1 {
    font-size: var(--H1-size);
    font-weight: var(--H1-weight);
    font-family: var(--H1-font);
    padding: 0 20px;
}

.myBox1 p {
    font-size: var(--p-size);
    color: var(--Sapphire);
    text-transform: uppercase;
    padding: 20px 0;
}

.myBox1 ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 20px;
}

.myBox1 ul li {
    background-color: var(--Royal-blue);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: var(--p-size);
    color: var(--Swan-wing);
}

.myBox1 .celebrity-section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    padding: 10px 20px;
}

.myBox1 .celebrity-section div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.myBox1 .celebrity-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Remplit le cercle en conservant les proportions */
    display: block;
    /* Enlève l'espace en bas de l'image */
}

.myBox1 .celebrity-section h3 {
    padding: 20px 20px;
}

.myBox1 .celebrity-section i {
    font-size: 50px;
}

.myBox1 a {
    display: flex;
    text-decoration: none;
    color: var(--Royal-blue);
}

#product-description {
    flex-direction: column;
    /* background-color: aqua; */
    padding: 15px;
}

#product-description p {
    font-size: var(--p-size);
    font-family: var(--p-font);
    font-weight: var(--p-weight);
    color: var(--Royal-blue);
    padding: 30px 0;
}

.myBox2 {
    border: 2px solid var(--Royal-blue);
    color: var(--Royal-blue);
    padding-left: 10px;
    text-align: center;
}

.price-container {
    background-color: var(--Royal-blue);
    border: 0px solid var(--Royal-blue);
    text-align: center;
    color: var(--Quicksand);
    font-size: var(--H2-size);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.price-container div {
    background-color: var(--Swan-wing);
    color: var(--Royal-blue);
    border-radius: 20px;
    width: 50%;
    font-style: italic;
    font-size: var(--H3-size);
    margin: 10px;
}

.price-ex-section {
    display: flex;
    justify-content: space-around;
}

.price-ex-section button {
    font-size: var(--H3-size);
    padding: 10px;
    border: 2px solid var(--Royal-blue);
    color: var(--Royal-blue);
    background-color: var(--Quicksand);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

.myBox2 .btn {
    margin: 20px;
}

.certificate-section {
    margin: 50px 0;
    border: 2px solid var(--Royal-blue);
    border-radius: 10px;
    padding: 20px;
    color: var(--Royal-blue);
    font-size: var(--H3-size);
    text-align: center;
}

.certificate-section h3 {
    margin: 30px;
}

.certificate-section a {
    padding: 10px;
    text-decoration: none;
    padding: 10px 50px;
}

#comment-section div {
    margin: 40px;
}

.title-section {
    font-size: var(--H2-size);
    font-family: var(--H2-font);
    font-weight: var(--H1-weight);
    color: var(--Royal-blue);
    padding: 15px 0;
    position: relative;
}

.title-section::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    background-color: var(--Royal-blue);
}