* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 20px;
    color: black;
}

header ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

header a {
    text-decoration: none;
    color: black;
}

header img {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 50%;
    top: 20px;
}

footer {
    background-color: gray;
    padding: 30px;
    width: 100%;
}

footer section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img {
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

main h1 {
    padding: 60px;
    font-size: 3em;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
}

main #connexion div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

main #connexion input:not(input[type="submit"]) {
    width: 400px;
    height: 30px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 10px; 
}

main #connexion input[type="submit"] {
    font-size: 1em;
    width: 50%;
    background-color: black;
    color: white;
}

main hr {
    background-color: black;
    height: 1px;
    width: 40%;
    margin: 50px;
}

main p {
    padding: 20px;
    font-size: 1.2em;
}

#menu_deroulant {
    background-color: red;
}

main #accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
}

main #accueil div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.btn {
    font-size: 1em;
    background-color: black;
    color: white;
    border-radius: 10px; 
    text-align: center;
    text-decoration: none;
    padding: 10px;

}

 .swiper.mySwiper {
      width: 100%;
      max-width: 900px;
      margin: 30px auto;
    }

    .swiper-slide img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      display: block;
    }

    .swiper-slide {
      padding: 20px;
      box-sizing: border-box;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: black;
    } 


