:root {
    --color-blue: #002366;
    --color-orange: #FFA347;
    --color-background: #F0F0F0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}

/* ########## Profil ########## */

#profil {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#profil img {
    width: 200px;
    height: 200px;
    background-color: var(--color-blue);
    border-radius: 50%;
    object-fit: cover;
}

/* ########## Stars ########## */
#stars {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-blue);
    width: 150px;
    height: auto;
}

#stars img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    vertical-align: middle;
}

#stars div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}

#stars #c1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: var(--color-orange);
}

.isNotShow {
    display: none;
}

.isBackground {
    background-color: var(--color-background);
}